{% extends "header.html" %}
{% block title %}Richard Kubíček{% endblock %}
{% block content %}
<h1>Odpracovaný čas</h1>
<table class="notes">
    <tr class="notes-header-major">
        <th width="15%">Datum</th>
        <th width="65%">Popis (Projekt a úkol)</th>
        <th width="20%">Odpracovaný čas [h]</th>
    </tr>

    {% for entry in entries %}
        <tr class="notes-entries">
            <td width="15%" class="notes-entries-other">{{ entry.date }}</td>
            <td width="65%" class="notes-entries-description">{{ entry.description}}</td>
            <td width="20%" class="notes-entries-other">{{ entry.duration }}</td>
        </tr>
    {% endfor %}

    <tr class="notes-header-minor">
        <td width="80%" colspan="2">Celkem:</td>
        <td width="20%" align="center">{{ duration_sum }}</td>
    </tr>
</table>

{% endblock %}
{% block footer %}
{% endblock %}
